@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


body{
	margin: 0;
	scroll-behavior: smooth;
}

.address{
	width: 100%;
	min-height: 60px;
	background-color: #0000ff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


.navbar{
	padding: 15px 10px;
	background-color: #fff;
	border-radius: 0;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.navbar ul li{
    margin: 0 12px;
    align-items: center;
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

@media (max-width: 768px){

}



.yams div{
	height: 280px;
}
 .teach {
	background-color: #1eaaf1;
	height: 280px;
}
 .edu {
	background-color: #8cc152;
	height: 280px;
}
 .lib {
	background-color: #5d50c6;
	height: 280px;
}
 .cert {
	background-color: #f1453d;
	height: 280px;
}
.icon-bg{
	height: 120px;
	width: 120px;
	border-radius: 100%;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
.offer-icon-bg{
		height: 80px;
	width: 80px;
	border-radius: 100%;
	background-color: blue;
	display: flex;
	align-items: center;
	justify-content: center;
}
.banner-teach{
	height: 400px;
	background: linear-gradient(rgba(44,77,22,0.7), rgba(53,42,61,0.6), rgba(27,83,39,0.5)), url(../images/6.jpg);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.wilson{
	height: 250px;
}
.course-img{
height: 250px;
}
.banner-stat{
	height: 350px;
	background: linear-gradient(rgba(44,77,22,0.7), rgba(53,42,61,0.6), rgba(27,83,39,0.5)), url(../images/15.jpg);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.request{
	height: 600px;
	background: linear-gradient(rgba(49,67,34,0.7), rgba(78,98,45,0.4), rgba(87,90,58,0.8)), url(../images/133.jpg);
	background-position: center;
	background-repeat: no-repeat;
}
.footer-menu div{
	flex: 1;
}
.footer li{
	margin-bottom: 12px;
	text-transform: capitalize;
}
.footer-icon{
	height: 50px;
	width: 50px;
	border: 3px solid white;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.about-us{
	justify-content: space-around;
}
.start-banner{
	z-index: -1;
	background: linear-gradient(rgba(56,89,123,0.5), rgba(98,103,86,0.2), rgba(112,12,51,0.4)), url(../images/15a.jpg);
	height: auto;
	background-position: center;
	background-repeat: no-repeat;
}
.sart-services{
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: bold;
}
.form-check{
	display: block;
}
.getstarted{
	justify-content: space-between;
}
.form-right ul li{
	list-style: none;
	display: flex;
}
.form-right ul{
	align-self: center;
	align-items: space-evenly;
}
.form-right{
	justify-content: center;
	background: skyblue;
	height: 250px;
}
.form-right ul li i{
	margin-right: 15px;
}
.objective{
	justify-content: space-around;
}
.objective div{	
}
.objective div h3{
	text-align: center;
	text-transform: uppercase;
}
.about-banner{
	background: linear-gradient(rgba(98,72,102,0.5), rgba(10,128,109,0.3), rgba(93,39,119,0.4)), url(../images/133.jpg);
	height: auto;
	display: flex;
	width: 100%;
}
.contact-us{
	width: 100%;
}
.contact-bd{
	min-height: 400px;
	justify-content: space-around;
	align-items: center;
}
.contact-bd form{
	margin-top: 80px;
min-height: 300px;
}
.contact-address{
	height: 300px;
}
.counter-bg{
	
}