body{
	margin: 0;
	scroll-behavior: smooth;
}
 nav{
 	background: white;
 	height: 80px;
 	width: 100%;
 }
 label.logo{
 	color: #0082e6;
 	font-size: 35px;
 	line-height: 80px;
 	padding: 0 80px;
 	font-weight: bold;
 }
 nav ul{
 	float: right;
 	margin-right: 20px;
 	list-style: none;
 }
 nav ul li{
 	display: inline-block;
 	line-height: 80px;
 	margin: 0 5px;
 }
 nav ul li a{
 	color: #0082e6;
 	font-size: 17px;
 	text-transform: uppercase;
 	padding: 7px 13px;
 	border-radius: 3px;
 }
 a.active,a:hover{
 	background: #b5fbc1;
 	transition: 5s;
 }
 .checkbtn{
 	font-size: 30px;
 	color: black;
 	float: right;
 	line-height: 80px;
 	margin-right: 40px;
 	cursor: pointer;
 	display: none;
 	z-index: 9999;
 }
 #check{
 	display: none;
 }
.address{
	width: 100%;
	height: 60px;
	background-color: #0000ff;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
@media (max-width: 952px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	.form-right{
		display: none;
	}
	.banner-teach{
		display: flex;
		flex-direction: column;
	}
	nav ul li a{
		font-size: 16px;
	}
	.address{
		display: none;
	}
}

.yams div{
	height: 280px;
}
 .teach {
	background-color: #1eaaf1;
	height: 280px;
}
 .edu {
	background-color: #8cc152;
	height: 280px;
}
 .lib {
	background-color: #5d50c6;
	height: 280px;
}
 .cert {
	background-color: #f1453d;
	height: 280px;
}
.icon-bg{
	height: 120px;
	width: 120px;
	border-radius: 100%;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
.offer-icon-bg{
		height: 80px;
	width: 80px;
	border-radius: 100%;
	background-color: blue;
	display: flex;
	align-items: center;
	justify-content: center;
}
.banner-teach{
	height: 400px;
	background: linear-gradient(rgba(44,77,22,0.7), rgba(53,42,61,0.6), rgba(27,83,39,0.5)), url(../images/6.jpg);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.wilson{
	height: 250px;
}
.course-img{
height: 250px;
}
.banner-stat{
	height: 350px;
	background: linear-gradient(rgba(44,77,22,0.7), rgba(53,42,61,0.6), rgba(27,83,39,0.5)), url(../images/15.jpg);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.request{
	height: 600px;
	background: linear-gradient(rgba(49,67,34,0.7), rgba(78,98,45,0.4), rgba(87,90,58,0.8)), url(../images/133.jpg);
	background-position: center;
	background-repeat: no-repeat;
}
.footer-menu div{
	flex: 1;
}
.footer li{
	margin-bottom: 12px;
	text-transform: capitalize;
}
.footer-icon{
	height: 50px;
	width: 50px;
	border: 3px solid white;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.start-banner{
	z-index: -1;
	background: linear-gradient(rgba(56,89,123,0.5), rgba(98,103,86,0.2), rgba(112,12,51,0.4)), url(../images/133.jpg);
	height: auto;
	background-position: center;
	background-repeat: no-repeat;
}
.sart-services{
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: bold;
}
.form-check{
	display: block;
}
.form-right ul li{
	margin: 12px;
	list-style: none;
	display: flex;
}
.form-right{
	background: skyblue;
	margin-top: 50px;
}
.form-right ul li i{
	margin-right: 15px;
}
.contact-banner{
	background: linear-gradient(rgba(98,72,102,0.5), rgba(10,128,109,0.3), rgba(93,39,119,0.4)), url(../images/133.jpg);
	height: auto;
	display: flex;
	width: 100%;
}
.counter-bg{
	justify-content: space-around;
}